<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		color: #222;
		background: #f4f4f4;
		font: 400 14px CoreSans, Arial, sans-serif;
	}
	a {
		color: #0070f3;
		text-decoration: none;
	}
	a:hover {
		text-decoration: underline;
	}
	ul, li {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	input, button {
		font: inherit;
		padding: 10px;
		border-radius: 5px;
		border: 1px solid #ddd;
		background: transparent;
		color: #808080;
		cursor: pointer;
	}
</style>
